
# Environment Variables
python-dotenv

# Data Handling
pandas
numpy
matplotlib

# Google AI & APIs
langchain
langchain-google-genai
google-api-python-client

# Web Framework & API Handling
fastapi
uvicorn

# CORS Middleware for FastAPI
fastapi[all]

# Pydantic for Data Validation
pydantic

# HTTP Requests & JSON Handling
requests
jsonschema

# Data Visualization
plotly
folium
streamlit
streamlit-folium
scikit-learn
streamlit
google-generativeai
google-api-python-client

langchain
python-dotenv
google-generativeai
google-api-python-client

